header{
  background-image: url("../bc.jpg");
  color: white;
}
footer{
  background-image: url("../bd.jpg");
  color: white;
}
img{
  width: 80%;
  height: 80%;
}
#poem{
  background-image: url("../bd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section{
  background-color: #F8F8FF;
}
#sectionTwo{
  color: white;
}
#mark{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
